.footer {
    background-color: var(--white);
    height: var(--header-height);
    /* Explicitly match header height */
    padding: 0 1rem;
    /* Remove vertical padding */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
}

.text {
    color: var(--text-light);
    font-size: 0.9rem;
}